@import 'src/css/quasar.variables.scss';

.auth {
  background-color: $white;
  padding: 16px;
  border-radius: 12px;
  width: 500px;
  border: solid 1px $primary;
}
.auth-layout {
  background: url('assets/red-blue-bg.png') no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.auth-blur {
  backdrop-filter: blur(20px);
  background-color: $white;
  min-height: 100vh;
}
.auth-title {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 12px;
  background: $secondary;
  width: 152px;
}
.auth-input {
  margin-bottom: 12px;
  display: block;
}
.auth-link:active {
  color: $primary;
  text-decoration: underline;
}
