@import 'src/css/quasar.variables.scss';
//----------------Header
.header-banner {
  // animation: headerBannerMove 2s infinite;
  background: url('assets/red-blue-bg.png') no-repeat;
  background-size: 120%;
  // background-position: 100px;
  height: 90vh;
  margin-top: -80px;
  transition: all 0.1s;
  .header-text {
    width: 800px;
    margin-bottom: 0;
  }
  .header-banner-toolbar {
    max-width: 1400px;
  }

  .header-banner-searchBar {
    font-size: 1.7rem;
  }

  // @keyframes headerBannerMove {
  //   0% {
  //     background-position: 0px 0px;
  //   }
  //   50% {
  //     background-position: -20px -20px;
  //   }
  //   100% {
  //     background-position: 0px 0px;
  //   }
  // }
  // @keyframes headerBannerInitialPos {
  //   0% {
  //   }
  //   100% {
  //     background-position: 0px 0px;
  //   }
  // }
}
