// app global css in SCSS form

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
}

.header-font {
  font-family: $font-family-fredoka;
  user-select: none !important;
  color: #fff;
  // TODO: Make anim when click
  cursor: pointer;
  font-size: 3rem;
}
.header-container {
  backdrop-filter: blur(10px);
  background-color: rgba($primary, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  .header {
    height: 80px;

    .toolbar-title-home {
      transition: all 0.2s;
      transform: translateX(-150px);
    }
    .toolbar-title-enter {
      transform: translateX(0);
    }

    .toolbar-searchBar {
      max-width: 1100px;
      transition: all 0.2s;
    }

    .toolbar-searchBar-home {
      transform: translateY(-150px);
    }

    .toolbar-searchBar-enter {
      transform: translateY(0);
    }

    .toolbar-btn {
      margin-top: -150px;
    }

    .toolbar-btn-enter {
      margin-top: 0;
    }
  }
}

.searchBar {
  background: #ffffff;
  border-radius: 50px;
}
.header-btn {
  border-radius: 100px;
  letter-spacing: normal;
  transition: all 0.1s;
  font-size: 1.7rem !important;
}
.account-btn:hover {
  scale: 1.1;
}

//----------------Main
.lateral {
  overflow: hidden;
}
.layout-content {
  .main {
    gap: 20px;
    margin: 0 16px;
    position: relative;

    .filterContent-container {
      gap: 16px;
      .filterContent-option {
        padding: 10px;
      }
      .filter-icon {
        color: rgba($primary, 0.5);
        font-size: 28px;
        padding: 4px 0 12px 0;
      }
      .filterContent-option:hover {
        background: rgba($white, 0.1);
      }
    }
    //-----Posts
    .post-vote-count {
      background: rgba($primary, 0.2);
      border-radius: 6px;
      font-size: 18px;
    }

    .post-description {
      font-size: 14px;
    }
    .blog-header-separator {
      background: $white;
    }
  }
}

.laterals {
  background: linear-gradient(133deg, $primary 0%, $secondary 100%);
  position: sticky;
  width: 100%;
  .apply-btn {
    border-radius: 8px;
    width: 200px;
  }
}
//subjects-lateral
.filter-lateral {
  border-radius: 0 8px 8px 0;

  .filter-checkboxes {
    background-color: $white-blue;
    border-radius: 8px;
    padding: 8px 0;
  }
  .filter-checkboxes:last-child {
    margin-bottom: 12px;
  }
}
//friend-lateral
.friend-lateral {
  border-radius: 0 8px 8px 0;

  .no-friend-img {
    opacity: 0.6;
  }
  .friend-list {
    border-top: 1px solid rgba($white-blue, 0.719);
    .friend-item {
      height: 76px;
    }
    .friend-item:last-child {
      height: 76px;
    }
    .friend-info {
      border-top: 1px solid rgba($white-blue, 0.719);
      font-size: 18px;
      line-height: 20px;
    }
    .first-friend {
      border-top: none;
      color: red;
    }

    .online-dot {
      background: #99cc00;
      border-radius: 100%;
      bottom: 2%;
      height: 12px;
      outline: 3px solid rgb(210, 225, 255);
      position: absolute;
      right: 2%;
      width: 12px;
    }
    .last-friend {
      border-bottom: 1px solid rgba($white-blue, 0.719);
      margin-bottom: 12px;
    }
  }
}

// Text
.text-font-light {
  font-family: $font-family-poppins;
  font-weight: 300;
  line-height: 1.7rem;
}
.text-font-medium {
  font-family: $font-family-poppins;
  font-size: 1.6rem;
  line-height: 1.7rem;
}
.text-font-bold {
  font-family: $font-family-poppins;
  font-weight: 700;
  line-height: 1.7rem;
}
.white-border {
  border: 1px solid $white;
  border-radius: 8px;
}
